---
import { getCollection } from "astro:content";
import ArticleLayout from "../../layouts/ArticleLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await entry.render();
---

<ArticleLayout
  title={entry.data.title}
  date={entry.data.date}
  lastUpdated={remarkPluginFrontmatter.lastUpdated}
  tags={entry.data.tags}
>
  <Content />
  <div slot="aside" class="sticky top-24 text-sm text-gray-6 dark:text-gray-4">
    {
      headings.map((heading) => {
        return (
          <a
            href={`#${heading.slug}`}
            class="block hover:text-blue"
            style={`margin-left: ${heading.depth - 2}em;`}
          >
            {heading.text}
          </a>
        );
      })
    }
  </div>
</ArticleLayout>
