---
import Tag from "./Tag.astro";

interface Props {
  title?: string;
  description?: string;
  tags?: string[];
  href?: string;
}

const { title, description, tags, href } = Astro.props;
---

<div
  class="p-4 border rounded-lg
 border-gray-2 bg-white dark:border-gray-8 dark:bg-gray-9
 hover:shadow-lg transition-shadow"
>
  <p class="text-xl font-bold"><a href={href}>{title}</a></p>
  <p class="text-sm text-gray-6 dark:text-gray-4">{description}</p>
  <p>
    {tags?.map((tag) => <Tag href={`/tags/${tag}`}>{tag}</Tag>)}
  </p>
</div>
