---
import Tag from "./Tag.astro";

interface Props {
  title?: string;
  description?: string;
  tags?: string[];
  href?: string;
}

const { title, description, tags, href } = Astro.props;
---

<div class="p-4 border-2 border-gray-200 rounded-lg">
  <p class="text-xl font-bold"><a href={href}>{title}</a></p>
  <p>{description}</p>
  <p>
    {tags?.map((tag) => <Tag href={`/tags/${tag}`}>{tag}</Tag>)}
  </p>
</div>
