---
import dayjs from "dayjs";
import Comments from "../components/Comments.astro";
import Layout from "./Layout.astro";
import Tag from "../components/Tag.astro";
import type { MarkdownHeading } from "astro";
import TOC from "../components/TOC.astro";

interface Props {
  title?: string;
  date?: Date;
  tags?: string[];
  headings?: MarkdownHeading[];
  comments?: boolean;
}

const { title, date, tags, headings, comments = true } = Astro.props;
---

<Layout title={title}>
  <div class="flex justify-center gap-4">
    <div class="w-full text-base prose prose-truegray dark:prose-invert">
      <main>
        <h1 class="m-0">{title}</h1>
        <div>
          {date && <span>{dayjs(date).format("YYYY/MM/DD")}</span>}
        </div>
        <div>
          {tags?.map((tag) => <Tag href={`/tags/${tag}`}>{tag}</Tag>)}
        </div>
        <div class="text-base prose w-full">
          <slot />
        </div>
      </main>
      <div class="not-prose">
        {comments && <Comments />}
      </div>
    </div>
    <div class="flex-grow-1 hidden md:block">
      <div class="sticky top-20">
        {headings && <TOC headings={headings} />}
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 6rem;
  }

  .prose {
    overflow-wrap: break-word;
  }

  .prose code:not(pre code) {
    white-space: pre-wrap;
  }

  .katex-display {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .flowchart {
    width: auto;
    height: auto;
    overflow: auto;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }
</style>
